body {
    background-color: #F8F9FA;
}

.home {
    padding: 100px 0;
}

.title {
    color: #FF5A5F;
}

.btn.btn-aka {
    background-color: #FF5A5F;
    color: #ffffff;
}

.btn.btn-aka:hover {
    background-color: #E55155;
}
